/*Importamos desde Google Fonts las fuentes que vamos a usar*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif;
*/

/*Estilos generales*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
div {
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    color: #0A0A0A;
}

/*---------------------------*/
/*--- BARRA SUPERIOR que contiene HEADER y NAVBAR ---*/
/*---------------------------*/
#contenedor-barra-cabecera {
    position: fixed;
    width: 100%; 
    background-color: #fafafa;
    box-shadow: 0 4px 5px #0000005b; 
    height: 100px;
}

#barra-cabecera {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 20px 4vw;
}
    /*-- Header --*/
        #contenedor-logo-home {
            position: relative;
            float: left;
            width: 25%;
            min-width: 350px;
        }

        #enlace-home {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 7px;
        }
        #enlace-home:hover,
         #enlace-home:focus {
            background-color: #52454529; ;
        }
        #enlace-home:focus {
            outline: 2px solid #524545;
        }
        #logo-home {
            width: 100px;
            height: 100%;
            float: left;
        }
        #nombre-web {
            font-size: 30px;
            margin-left: 120px;
            margin-top: 6px;
            font-family: 'Playfair Display', serif;
            font-weight: normal;
            color: #524545;
        }


    /*-- Navbar --*/
        nav {
            text-align: right;
            width: 100%;
            margin-top: 6px;
        }
        ul.nav-desplegable {
            list-style: none;
            display: inline-block;
            position: relative;
        }
        
        ul.nav-desplegable > li > a{
            color: #524545;
            font-family: 'Playfair Display', serif;
            font-size: 30px;
            padding: 2px 15px;
            border-radius: 7px;
        }

        ul.nav-desplegable > li > a:hover,
         ul.nav-desplegable > li > a:focus {
            background-color: #52454529;
        }

        ul.nav-desplegable > li > a:focus {
            background-color: #52454529;
            outline: 2px solid;
        }

        ul.lista-nav {
            visibility: hidden;
            position: absolute;
            top: 74px;
            right: 0;
            list-style: none;
            background-color: #fafafa;
            width: 100%;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
            width: 250px;
            text-align: right;
            border: 2px solid #524545;
            border-top: 0;
            border-radius: 0 0 7px 7px;
        }

         ul.nav-desplegable li:focus-within .lista-nav,
         ul.nav-desplegable li .lista-nav:hover {
            visibility: visible;
            opacity: 1;
        }

        ul.lista-nav li{
            margin: 5px 10px;
            padding: 5px 15px;
            border-radius: 10px;
            cursor: pointer;
        }

        ul.lista-nav li a{
            font-family: 'Playfair Display', serif;
            color: #458021;
            text-decoration: none;
            font-size: 20px;
        }   
        ul.lista-nav li a:focus{
            outline: none;
        }


        ul.lista-nav li:hover,
        ul.lista-nav li:focus-within{
           color: #458021;
           background-color: #45802129;
       }

       ul.lista-nav li:focus-within{
          outline: 2px solid;
      }



#div-vacio-header {
    height: 100px;
}




/*Header que contiene imagenes
 - Utilizamos las propiedades object-fit y object-position
   como equivalentes a background-size y background-position
   ya que en este caso añadimos las imagenes en línea
   
  Personalizamos individualmente la posición de cada imagen
  en función de seccion de la web donde estemos
*/
.header-img {
    height: 200px;
}
.header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img-header-home {
    object-position: center 40%;
}

/*--- CONTENEDORES ---*/

/*Estilo al contenedor ppal*/
.contenedor-ppal {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 4vw;
}

/*División en columnas
  - No partimos las columnas por medidas 75 -25 porque, al aplicar margin, 
    nunca llegan a poder cumplir esas medidas.
*/
.dos-columnas {
    display: flex;
    flex-wrap: wrap;
}

.col-1,
.col-2 {
    flex-basis: 0;
}

.col-1 {
    flex-grow: 2;
    margin-right: 20px;
}
.col-2 {
    margin-left: 20px;
    flex-grow: 0;
}

/*Contenedor novedades*/
.caja-novedades {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 2px #00000026;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 25px;
}
.img-novedad {
    flex-grow: 1;
    flex-shrink: 0;
    width: 150px;
    height: 150px;
}
.img-novedad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.contenido-novedad {
    flex-grow: 1;
    padding: 15px 20px;
}

/*Contenedor publicidad*/
.contenedor-publicidad {
    width: 200px;
    height: 100%;
    border: 2px solid #524545;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.contenedor-publicidad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*--- FIN CONTENEDORES ---*/

/* ------ Titulos ------*/
.titulo-1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #524545;
    margin-bottom: 15px;
    font-weight: 400;

}
.titulo-2 {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: #524545;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.titulo-3 {
    font-size: 18px;
    color: #9FA827;
    margin-bottom: 5px;
}


/*-- Fin titulos --*/

/*---- Estilo parafos ---*/
.subtitulo {
    font-size: 20px;
    margin-bottom: 50px;
}

/*--- Estilos <span> en linea --- */
.resaltado-texto {
    font-weight: bold;
    color: #9FA827;
    margin-bottom: 15px;
}

/*-- Fin estilos <span> en linea --*/

/*-- Enlaces --*/
a.ampliar-novedad {
    color: #458021;
    padding: 2px 5px;
    border-radius: 5px;
}
a.ampliar-novedad:hover {
    background-color: #45802129;
}
a.ampliar-novedad:focus {
    outline: 2px solid;
}

/*-- TABLAS --*/
.tabla-centrada {
    margin: 0 auto;
}
.tabla-centrada td{
    padding: 2px 5px;
}

/* -- Fin estilos tablas --*/

/*------ FOOTER ----*/

footer {
    background-color: #524545;
    color: #fafafa;
}

.footer-three-col {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px 4vh;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    flex-basis: auto;
}
.footer-col-1 {
    flex-grow: 3;
}
.footer-col-2 {
    flex-grow: 2;
}

.contenedor-footer {
    margin:0 10px;
}

.tit-cont-footer {
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    padding: 5px 0;
    margin-bottom: 15px;
    border-radius: 7px;
}


.fila-col-footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.fila-col-footer:nth-child(n):not(:last-child) {
    margin-bottom: 15px;
}
.fila-col-footer:nth-last-child() {
    margin-bottom: 15px;
}
.fila-col-footer .p-con-icono{
    margin-left: 15px;
}

/*--------------PERSONALIZADO EN FORMULARIO CONTACTO--------------------*/
.titulo-4 {
    font-family: 'Playfair Display', serif;
    font-size: 33px;
    color: #524545;
    margin-bottom: 15px;
    font-weight: 400;
}

.caja-form {
    font-size: 18px;
    word-spacing: 8px;
    line-height: 30px;
    box-shadow: 0 0 10px 5px #00000026;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4f4f2ea;
    width: 80%;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;

}

.text_size{
   font-size: 15px;
}

.drcha{
    text-align:right;
}

