
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #ffffff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


main {
  padding: 20px;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.articlulo1 {

  font-size:654px;

}

